.projetos {
  max-width: 85%;
  height: 500px;
  margin: 70px auto 0 auto;
  border: 5px solid #0d1014;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  padding-bottom: 40%;
  transition: max-width 0.3s ease, box-shadow 0.3s ease;
}

.projetos:hover {
  max-width: 85.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.projetos-conteudo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.carroselStyle {
  display: flex;
  width: 60%;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carroselImg{
  align-items: center;
  height: 300px;
}

.texto {
  width: 30%;
  height: auto;
}

.texto h3 {
  text-align: center;
}

.texto p {
  margin-top: 25px;
  text-align: justify;
  text-indent: 40px;
}

.habilidadesUsadas {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilidadeUsada {
  margin: 0 5px;
}

.habilidadeUsada img {
  height: 30px;
  width: 30px;
}

.repositorios {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repositorios div {
  margin: 0 20px;
}

.repositorioLogo a svg {
  height: 40px;
  width: 40px;
  transition: height 0.3s ease, width 0.3s ease;
}

.repositorioLogo a svg:hover {
  height: 42px;
  width: 42px;
}

.repositorio a {
  text-decoration: none;
  border-radius: 5px;
  color: white;
  background-color: #0d1117;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  font-weight: bold;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.repositorio a:hover {
  color: #0d1117;
  background-color: white;
}

@media (max-width: 1200px) {
  .projetos-conteudo {
    flex-direction: column;
    align-items: center;
  }

  .projetos {
    padding-bottom: 60%;
  }

  .carroselStyle {
    width: 100%;
    height: auto;
  }

  .carroselImg{
    height: 350px;
  }

  .texto {
    width: 100%;
    margin-top: 30px;
    padding: 0 50px;
  }
}

@media (max-width: 1140px) {
  .projetos {
    padding-bottom: 70%;
  }
}

@media (max-width: 1010px) {
  .projetos {
    padding-bottom: 80%;
  }
}

@media (max-width: 910px) {
  .projetos {
    padding-bottom: 90%;
  }
}

@media (max-width: 825px) {
  .texto {
    padding: 0;
  }
}

@media (max-width: 810px) {
  .projetos {
    padding-bottom: 100%;
  }
}

@media (max-width: 770px) {
  .carroselImg{
    height: 300px;
  }
}

@media (max-width: 700px) {
  .carroselImg{
    height: 250px;
  }
}

@media (max-width: 650px) {
  .projetos {
    padding-bottom: 110%;
  }
}

@media (max-width: 610px) {
  .carroselImg{
    height: 200px;
  }
}

@media (max-width: 575px) {
  .projetos {
    padding-bottom: 120%;
  }
}

@media (max-width: 535px) {
  .projetos {
    padding-bottom: 130%;
  }
}

@media (max-width: 515px) {
  .carroselImg{
    height: 170px;
  }
}

@media (max-width: 515px) {
  .projetos {
    padding-bottom: 140%;
  }
}

@media (max-width: 475px) {
  .projetos {
    padding: 20px;
    padding-bottom: 140%;
  }
}

@media (max-width: 452px) {
  .projetos {
    padding-bottom: 150%;
  }
}

@media (max-width: 425px) {
  .carroselImg{
    height: 150px;
  }
}

@media (max-width: 413px) {
  .projetos {
    padding-bottom: 160%;
  }
}

@media (max-width: 400px) {
  .projetos {
    padding-bottom: 170%;
  }
}

@media (max-width: 379px) {
  .projetos {
    padding-bottom: 180%;
  }
}

@media (max-width: 370px) {
  .projetos {
    padding: 10px;
    padding-bottom: 180%;
  }
}

@media (max-width: 356px) {
  .projetos {
    padding: 5px;
    padding-bottom: 190%;
  }

  .carroselImg{
    height: 140px;
  }
}

@media (max-width: 344px) {
  .projetos {
    padding-bottom: 200%;
  }
}

@media (max-width: 328px) {
  .projetos {
    padding-bottom: 210%;
  }
}

@media (max-width: 323px) {
  .projetos {
    padding: 3px;
    padding-bottom: 210%;
  }

  .carroselImg{
    height: 120px;
  }
}

@media (max-width: 313px) {
  .projetos {
    padding-bottom: 220%;
  }
}

@media (max-width: 300px) {
  .projetos {
    padding: 0;
    padding-bottom: 230%;
  }
}

@media (max-width: 293px) {
  .projetos {
    padding-bottom: 240%;
  }
}

@media (max-width: 284px) {
  .carroselImg{
    height: 100px;
  }
}

@media (max-width: 275px) {
  .projetos {
    padding-bottom: 250%;
  }
}

@media (max-width: 270px) {
  .projetos {
    padding-bottom: 260%;
  }
}

@media (max-width: 266px) {
  .projetos {
    padding-bottom: 290%;
  }
}

@media (max-width: 254px) {
  .projetos {
    padding-bottom: 310%;
  }
}

@media (max-width: 244px) {
  .projetos {
    padding-bottom: 330%;
  }
}

@media (max-width: 230px) {
  .projetos {
    padding-bottom: 350%;
  }
}

@media (max-width: 225px) {
  .projetos {
    padding-bottom: 370%;
  }

  .carroselImg{
    height: 80px;
  }
}

@media (max-width: 213px) {
  .projetos {
    padding-bottom: 390%;
  }
}

@media (max-width: 208px) {
  .projetos {
    padding-bottom: 400%;
  }

  .carroselImg{
    height: 70px;
  }
}

@media (max-width: 205px) {
  .projetos {
    padding-bottom: 420%;
  }
}